.header {
  font-size: 15px;
  font-weight: 400;
}

.custom-button {
  color: #fff !important;
  width: 100px;
  font-size: 13px !important;
}

@media (max-width: 576px) {
  .custom-button {
    width: 100%;
  }
}
